/* .appNFT {
  padding: 20px;
  min-height: 30vh;
  max-width: 100vw;
}

.koangallery {
  cursor: pointer;
  display: flex;

  overflow: scroll;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

@media (max-width: 767px) {
  .koangallery {
    margin-top: 100px;
  }
} */

/* .koangallery ::-webkit-scrollbar {
  display: none;
  direction: ltr;
} */
