/* need to research something else besides @media 
or simply rebuild this whole thing at some point */

.teamWrapper {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: left;
  text-align: left;
  margin-top: 120px;
  margin-left: 72px;
  margin-right: 120px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 575px) {
  .teamWrapper {
    margin-left: 0px;
    margin-right: 40px;
    max-width: 100% !important;
  }
}

@media only screen and (max-width: 768px) {
  .teamWrapper {
    margin-left: 0px;
    margin-right: 40px;
    max-width: 100% !important;
  }
}

@media only screen and (max-width: 992x) {
  .teamWrapper {
    margin-left: 5px;
    margin-right: 20px;
  }
}

/* description needs matching */

.team-about-description {
  color: white !important;
  text-align: left;
  padding-top: 80px !important;
  justify-content: flex-start;
}

@media screen and (max-width: 575px) {
  .team-about-description {
    margin-left: 0px;
    margin-right: 20px;
  }
}

.team-about-body {
  padding-top: 40px !important;
  text-align: left;
  justify-content: flex-start;
  margin-left: 77px;
}

@media screen and (max-width: 575px) {
  .team-about-body {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* .team-about-section {
  justify-content: flex-start;

  padding-top: 180px !important;
  text-align: left;
} */

.team-about-body {
  font-size: 1.2em !important;
  text-align: left;
  justify-content: flex-start;
  margin-left: 77px;
}

@media screen and (max-width: 575px) {
  .team-about-body {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* --------- */
/* Projects  used for team section*/
/* --------- */

/* changed all of these margins from paddings on project sections */

.project-section {
  margin-top: 150px !important;
  margin-bottom: 30px !important;
}

.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

@media screen and (max-width: 575px) {
  .project-card {
    margin-top: 10 !important;
    margin-bottom: 20px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    height: auto !important;
  }
}

.project-card-view {
  box-shadow: 0 4px 5px 3px rgba(51, 151, 86, 0.459) !important;
  color: white !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}
.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px rgba(154, 226, 155, 0.561) !important;
}
.card-img-top {
  padding: 20px !important;
  opacity: 0.8 !important;
  border-radius: 10px !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #32943a !important;
  border-color: #36864b !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #32943a !important;
  border-color: #36864b !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-hero {
  width: 220px;
  border-radius: 14px;
  background-color: #008cba;
}

.project-heading {
  color: white !important;
  font-size: 2.3em !important;
  font-weight: 400 !important;
}
