/* need to research something else besides @media 
or simply rebuild this whole thing at some point */

.teamWrapper {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: left;
  text-align: left;
  margin-top: 120px;
  margin-left: 72px;
  margin-right: 120px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 575px) {
  .teamWrapper {
    margin-left: 0px;
    margin-right: 40px;
    max-width: 100% !important;
  }
}

@media only screen and (max-width: 768px) {
  .teamWrapper {
    margin-left: 0px;
    margin-right: 40px;
    max-width: 100% !important;
  }
}

@media only screen and (max-width: 992x) {
  .teamWrapper {
    margin-left: 5px;
    margin-right: 20px;
  }
}

/* description needs matching */

.team-about-description {
  color: white !important;
  text-align: left;
  padding-top: 80px !important;
  justify-content: flex-start;
}

@media screen and (max-width: 575px) {
  .team-about-description {
    margin-left: 0px;
    margin-right: 20px;
  }
}

.team-about-body {
  padding-top: 40px !important;
  text-align: left;
  justify-content: flex-start;
  margin-left: 77px;
}

@media screen and (max-width: 575px) {
  .team-about-body {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* .team-about-section {
  justify-content: flex-start;

  padding-top: 180px !important;
  text-align: left;
} */

.team-about-body {
  font-size: 1.2em !important;
  text-align: left;
  justify-content: flex-start;
  margin-left: 77px;
}

@media screen and (max-width: 575px) {
  .team-about-body {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* .section {
  min-height: 100vh;
  width: 100vw;
  background-color: #242324;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: 100px;
} */
/* 
.row {
   can't adust anything with this as a div 
} */

/* .imgContainer {
  width: 30rem;
  margin: 0 1rem;
  background-color: none;
  border-radius: 50px;
  cursor: pointer;
}

@media (max-width: 48em) {
  .imgContainer {
    width: 20rem;
  }
  @media (max-width: 30em) {
    .imgContainer {
      width: 20rem;
    }
  }
}

.imgContainer > img {
  width: 20rem;
}

@media (max-width: 48em) {
  .imgContainer {
    width: 20rem;
  }
}
@media (max-width: 30em) {
  .imgContainer {
    width: 20rem;
  }
} */
/* 
img {
  width: 1rem;
  height: auto;
} */
