.main {
  max-height: 55vh;
}

.mainContent {
  display: flex;
  padding-bottom: 20px;
  padding-top: 80px;
  border-bottom: 1px solid #fff;
}

.KoanHighlight {
  flex: 0.25;
  display: flex;
  align-items: center;
  justify-content: center;
}

.KoanContainer {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  max-height: 40vh;
  margin-right: 15px;
}

.selectedKoan {
  display: flex;
  object-fit: contain;
  max-width: min(30vw 40vh);
  max-height: 40vh;
}

.KoanDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;
}

.collectionDescription {
  flex-direction: column;
  /* align-content: space-between; */
  /* margin-right: auto; */

  align-self: flex-end;
  text-align: left;
  margin-top: auto;
}

.title {
  font-size: 48px;
  font-weight: 700;
  align-self: flex-start;
  margin-right: auto;
}

.itemNumber {
  color: #a1a5b0;
  font-size: 48px;
}

.owner {
  display: flex;
  margin: 10px 0;
  height: 50px;
  margin-top: auto;
}

.owner > div {
  margin: 0 5px;
}

.ownerImageContainer {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-radius: 50px;
  overflow: hidden;
  object-fit: contain;
}

.ownerImageContainer > img {
  height: 100%;
  width: 100%;
}

.ownerDetails {
  display: flex;
  align-items: center;
  flex: 1;
}

/* Make sure overflow is not fucking up the menu on mobile */
.ownerNameAndHandle {
  flex: 1;
  color: #bac2c2;
  overflow: hidden;
}

.ownerHandle {
  color: #00ebfe;
}

.openSea {
  align-self: flex-start;
  margin-right: auto;
  color: #00ebfe;
  cursor: pointer;
}

/* .thoughtHeader {
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #fff;
} */

.nft-header {
  padding-top: 80px;
}

h5 {
  font-size: 2rem;
  color: rgb(213, 213, 223);
}

.purple1 {
  color: var(--imp-text-color) !important;
}

/* .ownerLink {
  padding: 12px;
  border-radius: 40px;
  height: 50px;
  width: 50px;
  border: 1px solid #fff;
  margin: 0 0 0 10px;
}

.ownerLink > img {
  height: 100%;
  width: 100%;
} */
