/* need to research something else besides @media 
or simply rebuild this whole thing at some point */

.thoughtWrapper {
  display: flex;
  flex-direction: row;
  align-items: left;
  text-align: left;
  margin-top: 120px;
  margin-left: 72px;
  margin-right: 120px;
  padding-bottom: 175px;
}

/* @media only screen and (max-width: 575px) {
  .thoughtWrapper {
    flex-direction: column;
    margin-left: 5px;
    margin-right: 20px;
  }
} */

@media only screen and (max-width: 992px) {
  .thoughtWrapper {
    flex-direction: column;
    margin-left: 5px;
    margin-right: 20px;
    /* max-width: 100% !important; */
  }
}

/* @media only screen and (max-width: 992x) {
  .thoughtWrapper {
    flex-direction: column;
    margin-left: 5px;
    margin-right: 20px;
  }
} */

/* .thoughts-about-description {
  display: flex;
  color: white !important;
  text-align: left;
  padding-top: 40px !important;
}

@media screen and (max-width: 575px) {
  .thoughts-about-description {
    margin-left: 0px;
    margin-right: 20px;
  }
} */

.thoughts-about-body {
  flex-direction: column;
  color: white !important;
  font-size: 1.2em !important;
  text-align: left;
  justify-content: flex-start;
  margin-left: 77px;
  padding-top: 40px !important;
  padding-right: 100px;
}

@media screen and (max-width: 992px) {
  .thoughts-about-body {
    margin-left: 20px;
    /* margin-right: 20px; */
    padding-right: 40px;
  }
}

.imgContainer {
  width: 30rem;
  margin: 0 1rem;
  background-color: none;
  border-radius: 50px;
  cursor: pointer;
}

@media (max-width: 48em) {
  .imgContainer {
    width: 20rem;
  }
  @media (max-width: 30em) {
    .imgContainer {
      width: 20rem;
    }
  }
}

.imgContainer > img {
  width: 20rem;
}

@media (max-width: 48em) {
  .imgContainer {
    width: 20rem;
  }
}
@media (max-width: 30em) {
  .imgContainer {
    width: 20rem;
  }
}

img {
  width: 1rem;
  height: auto;
}

.price {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  color: white !important;
}

.details {
  display: flex;
  justify-content: space-between;
  /* justify-content: space-between; */
  /* background-color: #5dcf79; */
  font-size: larger;
}

.details > h7 {
  font-size: 12px;
  color: white !important;
}
@media (max-width: 30em) {
  .h7 {
    font-size: 12px;
  }
}

.alien {
  width: 2.7rem;
  height: 2.7rem;
  position: 'absolute';
  left: 50px;
}

.thoughtNavigation {
  /* display: flex;
  justify-content: flex-start; */
  margin-top: 10px;
}

#row {
  flex-direction: row;
}

.sliderWrapper {
  color: white !important;
}
